/* Created by: Julienka
* Created on: Sep 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
    align-items: center;
    justify-content: center;
}

.mdl-layout__content {
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
  */
.mdl-ripple {
    background: #000;
    opacity: 0.001;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

p {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 15pt;
}

img {
    margin-right: 15px;
}

.borderAndMore {
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
    border-radius: 10px;
    margin-right: 400px;
    margin-left: 400px;
    font-size: 15px;
    box-shadow: 0 5px 16px 2px #626292;
    padding: 10px;
    background-color: powderblue;
}